body {
  background-image: url("../images/Blue.jpg");
}
.tablecon {
  background-color: aquamarine;
}
.hr-text {
  overflow: hidden; /* Hide overflow text */
  text-align: center; /* Center align text */
}
.hr-text hr {
  margin: 0;
  border: none; /* Remove border */
  border-top: 1px solid #ccc; /* Add top border */
}
.hr-text span {
  font-size: 14px; /* Adjust text size */
  background-color: #fff; /* Match background color */
  padding: 0 10px; /* Add padding */
}
